


.middle{
  width: 60%;
  height: 100vh;
}


.forecastWrapper{
  width: 27%;
  
}


@media only screen and (max-width: 1500px) {
  .forecastWrapper{
    display: none;
  }

  .middle{
    width: 80%;
  }
}


.forecast{
  display: none;
}
